/*CSS*/

<<<<<<< HEAD
/*FONTS!*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,800italic,800,700italic);

/* COLORS!
Dark green: #47582c
Light green: #9bb26c
Dark grey: #2a2b2f
Medium grey: #4f4f57
Light grey: #9599a5
Gold: #fec627*/
*{
	
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
}

h1,h2,h3{
	font-family: 'Roboto Slab', serif;
}

.hed {
	color:white;
	font-size:150px;
	text-shadow: 1px 1px #2a2b2f;
	color: #47582c;
}

.dek{
	color: #fec627;
	font-size:40px;
	text-shadow: 1px 1px #2a2b2f;
}

#jbottom {
	padding-top:10px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:black;
}


/* Recession Animation CSS*/
.diy-slideshow{
  position: relative;
  display: block;
  overflow: hidden;
}
figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
}

figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.chartcap{
	text-align: right;
	font-style: oblique;
	font-size: 12px;
}

.reccaption{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:black;
}