/*CSS*/

<<<<<<< HEAD
/*FONTS!*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,800italic,800,700italic);

/* COLORS!
Dark green: #47582c
Light green: #9bb26c
Dark grey: #2a2b2f
Medium grey: #4f4f57
Light grey: #9599a5
Gold: #fec627*/
*{
	
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  z-index: -100;
}

#jbottom {
	position: relative;
	padding-top:310px;

}

h1,h2,h3{
	font-family: 'Roboto Slab', serif;
}

.hed{
	position: relative;
	color:white;
	font-size:100px;
	padding-top:200px; 
	text-shadow: 2px 0 #2a2b2f;
	color: #47582c;
}

.dek{
	position: relative;
	color: #fec627;
	font-size:40px;
	padding-left:5px;
	text-shadow: 2px 0 #2a2b2f;
}

.subheds{
	font-size:;
}

p {
	font-family: 'Open Sans', sans-serif;
	color:black;
}